name: Build native library of audio player for Linux

on:
  push:
    tags:
      - "audio-natives-all-*"
      - "audio-natives-linux-*"

jobs:
  build:
    name: Build native library of audio player for Linux
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install libasound2-dev
        run: |
          sudo apt update
          sudo apt install libasound2-dev
      - name: Build native library with cargo
        working-directory: mechtatel-audio-natives/natives/lib-audio-player
        run: cargo build --release
      - name: Publish native library to release
        uses: softprops/action-gh-release@v2
        with:
          files: mechtatel-audio-natives/natives/lib-audio-player/target/release/libaudioplayer.so
